body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a8a4a4;
}

header {
    background-color: #292525;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #584e4e;
    color: #fff;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    font-size: large;
    text-decoration: none;
    color: #000000;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;
}

.feature,
.content {
    flex: 1;
    margin: 0.5em;
}

footer {
    background-color: #292525;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}